.inset-blue-background {
  background: #e7ebef;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  border: 0;
  border-bottom: 1px solid #fff;
}
.interstitial {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-style: italic;
  display: block;
  padding: .6em;
  text-align: center;
}
.relative,
.h-position-relative {
  position: relative;
}

.absolute,
.h-position-absolute {
  position: absolute;
}

.h-flex {
  display: flex;
}

.h-block,
.block {
  display: block;
}

.h-table {
  display: table;
}

.h-table-cell {
  display: table-cell;
}

.inline-block,
.h-inline-block {
  display: inline-block;
}

.h-display-none {
  display: none;
}

.float-left,
.h-float-left {
  float: left;
}

.float-right,
.h-float-right {
  float: right;
}

.h-overflow-hidden {
  overflow: hidden;
}

.h-full-width {
  width: 100%;
}

.h-resize-none {
  resize: none;
}

.h-align-items-center {
  align-items: center;
}

.h-full-height {
  height: 100%;
}

.text-align-center,
.h-text-align-center {
  text-align: center;
}

.text-align-left,
.h-text-align-left {
  text-align: left;
}

.text-align-right,
.h-text-align-right,
.h-align-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-baseline {
  vertical-align: baseline;
}

.h-visibility-hidden {
  visibility: hidden;
}

.z-state-transparent {
  opacity: 0;
}

.h-brand-color {
  color: #1379de;
}

.h-subtle-color {
  color: #666;
}

.h-very-subtle-color {
  color: #999;
}

.h-alert-color {
  color: #e10000;
}

.h-zsubscribe-color {
  color: #ff7e00;
}

.h-sun-color {
  color: #fea91a;
}

.h-steelblue-color {
  color: #7a98bf;
}

.h-seaweed-color {
  color: #79be93;
}

.h-smartpick-color {
  color: #f81e27;
}

.h-silver-color {
  color: #cccccc;
}

.h-accent-color {
  color: #66c3ee;
}

.h-text-on-colored-background {
  color: #ffffff;
}

.status-active {
  color: #00cc26;
}

.h-positive-color {
  color: #2D920F;
}

.h-muted-light-blue {
  color: #80ceea;
}

.h-zoosk-dark-blue {
  color: #2d74c9;
}

.h-fill-green-haze {
  fill: #01AC45;
}

.h-bg-default {
  background: #fafafa;
}

.h-bg-white {
  background: #ffffff;
}

.h-bg-transparent {
  background: none transparent;
}

.h-interaction-hint,
.h-cursor-pointer {
  cursor: pointer;
}

.h-weight-normal {
  font-weight: normal;
}

.h-weight-bold,
.h-font-bold {
  font-weight: bold;
}

.h-weight-300 {
  font-weight: 300;
}

.h-weight-500 {
  font-weight: 500;
}

.h-text-shadow {
  text-shadow: 0px 1px 2px #000;
}

.h-radius-small {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.h-border-top {
  border-top: 1px solid #ccc;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}
.z-clearfix:after {
  clear: both;
  display: block;
  content: '.';
  line-height: 0;
  visibility: hidden;
  height: 0;
}

.z-pinned-corners {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.z-table-layout {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.z-table-layout > * {
  display: table-cell;
}

.flex-img {
  display: block;
  max-width: 100%;
}

/*****************************************************************************
    Truncated text
*****************************************************************************/
.z-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/*****************************************************************************
    Block that extends to 100%
*****************************************************************************/
.full-block-width {
  display: block;
  width: 100%;
}

/*****************************************************************************
    Vertically Center an inline-block element
*****************************************************************************/
.valign-mid-el {
  display: inline-block;
  vertical-align: middle;
}

/*****************************************************************************
    Top align an inline-block element
*****************************************************************************/
.u-valign-top {
  display: inline-block;
  vertical-align: top;
}

/*****************************************************************************
    BOttom align inline-block element
*****************************************************************************/
.valign-bottom-el {
  display: inline-block;
  vertical-align: bottom;
}

/*****************************************************************************
    Vertically & Horizontally Centered Element
*****************************************************************************/
.z-absolute-center {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  position: absolute;
  top: 50%;
}

/*****************************************************************************
    Vertically Centered Element
*****************************************************************************/
.z-vertically-centered {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
}

/*****************************************************************************
    Offscreen - Element that is positioned out of view
    e.g. a radio input in case we want visually custom inputs
*****************************************************************************/
.z-offscreen {
  left: -1000%;
  position: absolute;
  visibility: hidden;
}

/*****************************************************************************
    Inherit box sizing while tech debt is in the works
*****************************************************************************/
.u-border-box * {
  box-sizing: border-box;
}

/*****************************************************************************
    Increase the tap size to the Apple HIG Standards

    https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/LayoutandAppearance.html
    "Make it easy for people to interact with content and controls by giving
    each interactive element ample spacing. Give tappable controls a hit target
    of about 44 x 44 points."
*****************************************************************************/
.u-tap-target:after {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  position: absolute;
  top: 50%;
  content: '';
  height: 44px;
  width: 44px;
}

/*****************************************************************************
    Flexbox - WARNING: No IE9 Support
*****************************************************************************/
.u-flex-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
}

.u-flex-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.u-flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.u-flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.u-flex-parent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
}
.floating-icon-with-text, .floating-pseudo-icon-with-text {
  position: relative;
}

.floating-icon {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
}

.floating-pseudo-icon-with-text:before {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
  content: '';
}
.text-with-graphic {
  position: relative;
}

.text-with-graphic .icon-font {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
  left: 0;
}

/*****************************************************************************
    Dark blue header
    Not a great class name, but it's been a challenge to find something to
    describe this text. It's used in Cancellation Flow and Acct Deactivation/Pausing.
*****************************************************************************/
.dark-blue-header {
  color: #1d3d62;
  font-weight: normal;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}

.light-font {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300 !important;
}

/*****************************************************************************

    Drop Down Group - This emulates a select element.

*****************************************************************************/
.dropdown-group {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  margin: 0;
  position: relative;
  /*****************************************************************************
        Dropdown is selected
    *****************************************************************************/
  /*****************************************************************************
        Dropdown is focused
    *****************************************************************************/
}

.dropdown-group > li {
  background: #fff;
  /* IE fallback */
  background-image: -owg-linear-gradient(#fff, #f1f1f1);
  background-image: -webkit-linear-gradient(#fff, #f1f1f1);
  background-image: -moz-linear-gradient(#fff, #f1f1f1);
  background-image: -o-linear-gradient(#fff, #f1f1f1);
  background-image: linear-gradient(#fff, #f1f1f1);
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  border: 1px solid #ccc;
  border-left-width: 0;
  cursor: pointer;
  float: left;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  padding: .85714285em .78571428em;
  /* 12 / 14 , 11 / 14 */
  position: relative;
  z-index: 1;
}

.dropdown-group > li:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left-width: 1px;
}

.dropdown-group > li:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-group .button-icon {
  display: inline-block;
  height: 13px;
  margin-right: 3px;
  vertical-align: bottom;
  width: 15px;
}

.dropdown-group.button-group-full {
  display: block;
}

.dropdown-group.button-group-full > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* This is not supported in old IE - add a fix in IE Hacks */
}

.dropdown-group > .processing {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  /* This removes the transition for the :active clicks, since most clicks happen too fast to see a transition */
  background-color: #fefefe;
  /* IE Background color */
  background-image: -owg-linear-gradient(#fefefe, #f2f2f2);
  background-image: -webkit-linear-gradient(#fefefe, #f2f2f2);
  background-image: -moz-linear-gradient(#fefefe, #f2f2f2);
  background-image: -o-linear-gradient(#fefefe, #f2f2f2);
  background-image: linear-gradient(#fefefe, #f2f2f2);
  -webkit-box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  /* Creates a faux left-border, then the interior shadow */
  border-top-color: #ccc;
  color: #999;
  cursor: default;
  position: relative;
}

.dropdown-group > .processing:hover, .dropdown-group > .processing:active {
  background-color: #fefefe;
  /* IE Background color */
  background-image: -owg-linear-gradient(#fefefe, #f2f2f2);
  background-image: -webkit-linear-gradient(#fefefe, #f2f2f2);
  background-image: -moz-linear-gradient(#fefefe, #f2f2f2);
  background-image: -o-linear-gradient(#fefefe, #f2f2f2);
  background-image: linear-gradient(#fefefe, #f2f2f2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  /* Creates a faux left-border, then the interior shadow */
  -webkit-transition: none 0.25s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: none 0.25s ease-in-out 0s;
  -o-transition: none 0.25s ease-in-out 0s;
  transition: none 0.25s ease-in-out 0s;
  /* This removes the transition for the :active clicks, since most clicks happen too fast to see a transition */
  border-top-color: #ccc;
  color: #999;
}

.dropdown-group > .processing > .processing-bar {
  background: url('/images/shared/buttons/button-v2-spinner.gif') 0 0 no-repeat;
  bottom: .35714286em;
  height: 4px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: auto;
  /* override old styles */
  width: 25px;
}

.dropdown-group > .selected, .dropdown-group > .disabled {
  background-image: -owg-linear-gradient(#dadada, #f1f1f1);
  background-image: -webkit-linear-gradient(#dadada, #f1f1f1);
  background-image: -moz-linear-gradient(#dadada, #f1f1f1);
  background-image: -o-linear-gradient(#dadada, #f1f1f1);
  background-image: linear-gradient(#dadada, #f1f1f1);
  color: #333;
  cursor: default;
  /* Reset the :hover and :active styles for a selected button */
}

.dropdown-group > .selected:hover, .dropdown-group > .selected:active, .dropdown-group > .disabled:hover, .dropdown-group > .disabled:active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: -owg-linear-gradient(#dadada, #f1f1f1);
  background-image: -webkit-linear-gradient(#dadada, #f1f1f1);
  background-image: -moz-linear-gradient(#dadada, #f1f1f1);
  background-image: -o-linear-gradient(#dadada, #f1f1f1);
  background-image: linear-gradient(#dadada, #f1f1f1);
  border-color: #ccc;
  color: #333;
}

.dropdown-group > .selected:hover:first-child, .dropdown-group > .selected:active:first-child, .dropdown-group > .disabled:hover:first-child, .dropdown-group > .disabled:active:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.dropdown-group > .selected:hover:last-child, .dropdown-group > .selected:active:last-child, .dropdown-group > .disabled:hover:last-child, .dropdown-group > .disabled:active:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown-group > .selected.interactive:hover {
  background-image: -owg-linear-gradient(#fff, #f1f1f1);
  background-image: -webkit-linear-gradient(#fff, #f1f1f1);
  background-image: -moz-linear-gradient(#fff, #f1f1f1);
  background-image: -o-linear-gradient(#fff, #f1f1f1);
  background-image: linear-gradient(#fff, #f1f1f1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  border-color: #b9b9b9;
  border-top-color: #fff;
  color: #1379de;
  cursor: pointer;
  z-index: 2;
}

.dropdown-group > .disabled {
  background-image: -owg-linear-gradient(#f1f1f1, #fff);
  background-image: -webkit-linear-gradient(#f1f1f1, #fff);
  background-image: -moz-linear-gradient(#f1f1f1, #fff);
  background-image: -o-linear-gradient(#f1f1f1, #fff);
  background-image: linear-gradient(#f1f1f1, #fff);
  color: #d3d3d3;
  cursor: default;
}

.dropdown-group > .disabled:hover, .dropdown-group > .disabled:active {
  background-image: -owg-linear-gradient(#f1f1f1, #fff);
  background-image: -webkit-linear-gradient(#f1f1f1, #fff);
  background-image: -moz-linear-gradient(#f1f1f1, #fff);
  background-image: -o-linear-gradient(#f1f1f1, #fff);
  background-image: linear-gradient(#f1f1f1, #fff);
  color: #d3d3d3;
}

.dropdown-group.button-group-full {
  width: 100%;
}

.dropdown-group > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding-right: 2.14286em;
  float: none;
  font-weight: normal;
  position: relative;
  width: 100%;
}

.dropdown-group > li:hover {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  border-color: #b9b9b9;
  border-top-color: #fff;
  color: #1379de;
  z-index: 2;
}

.dropdown-group > li:active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);
  /* Creates a faux left-border, then the interior shadow */
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  /* This removes the transition for the :active clicks, since most clicks happen too fast to see a transition */
  background-color: #fff;
  /* IE Background color */
  border-top-color: #ccc;
  color: #999;
  -webkit-box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px #ccc, inset 0 0 4px rgba(0, 0, 0, 0.25);
  /* Creates a faux left-border, then the interior shadow */
}

.dropdown-group > li:active:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.dropdown-group > li:active:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown-group > li:after {
  background: url('/images/shared/icons/icons-mega.png') -66px -1828px no-repeat;
  content: '';
  height: 7px;
  margin-top: -4px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 19px;
}

.dropdown-group.selected {
  z-index: 3;
}

.dropdown-group.selected > li {
  background-color: #e3e3e3;
  /* IE Background color */
  background-image: -owg-linear-gradient(#f1f1f1, #fff);
  background-image: -webkit-linear-gradient(#f1f1f1, #fff);
  background-image: -moz-linear-gradient(#f1f1f1, #fff);
  background-image: -o-linear-gradient(#f1f1f1, #fff);
  background-image: linear-gradient(#f1f1f1, #fff);
  color: #d3d3d3;
  cursor: default;
}

.dropdown-group.selected > li:active, .dropdown-group.selected > li:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

.dropdown-group.selected .dropdown-menu {
  display: block;
  width: 100%;
}

.dropdown-group.focused > li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 1px #ccc, 0 0 2px rgba(0, 0, 0, 0.3);
  border-color: #b9b9b9;
  border-top-color: #fff;
  color: #1379de;
  z-index: 2;
}

.dropdown-group.button-group-full {
  margin: 0;
}

.dropdown-group.button-group-full:after {
  clear: both;
  display: block;
  content: '.';
  line-height: 0;
  visibility: hidden;
  height: 0;
}

.dropdown-group.button-group-full > li {
  text-align: center;
}

/*****************************************************************************
    Dropdown Menu - Sub-Menu of a dropdown-group. Emulates select elements.
*****************************************************************************/
.dropdown-menu {
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
}

.dropdown-menu > li {
  padding-left: 0.71429em;
  padding-right: 0.71429em;
  padding-top: 0.78571em;
  padding-bottom: 0.64286em;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  color: #333;
  margin: 0;
  text-align: left;
}

.dropdown-menu > li.highlighted-menu-item {
  background-color: #fff;
  color: #333;
  font-size: 1.4rem;
  padding: 1em 1em 1em 3em;
}

.dropdown-menu > li:first-child {
  border: 0;
}

.dropdown-menu > li:hover, .dropdown-menu > li.focused {
  background-color: #ebf7fc;
  color: #1379de;
  cursor: pointer;
}

/*****************************************************************************
    Alt Menu Expansion - Dropdown needs to open up rather than down
*****************************************************************************/
.alt-menu-expansion .dropdown-menu {
  bottom: 100%;
  top: auto;
}

/*****************************************************************************

    Icon Font - Styles to support the use of icons as a font

*****************************************************************************/
@font-face {
  font-family: 'ZooskIcons';
  src: url('undefined/fonts/zoosk-icon.eot');
  /* IE9 Compat Modes */
  src: url('undefined/fonts/zoosk-icon.eot?#iefix') format("embedded-opentype"), url('undefined/fonts/zoosk-icon.woff') format("woff"), url('undefined/fonts/zoosk-icon.ttf') format("truetype");
  /* Safari, Android, iOS */
}

.icon-font {
  font-family: 'ZooskIcons';
  font-weight: normal;
}

.icon-font.accent-positive {
  color: #6cba30;
}

.icon-font.accent-negative {
  color: #999;
}

.icon-font.accent-like {
  color: #1379de;
}

.icon-font.accent-gift {
  color: #ed1c24;
}

.icon-font.accent-text-after {
  margin-right: 5px;
}

.icon-font.accent-small {
  font-size: 1.8rem;
}

.icon-font.accent-medium {
  font-size: 2.2rem;
}

.icon-font.accent-large {
  font-size: 3rem;
}

.icon-font.accent-x-large {
  font-size: 3.6rem;
}

.icon-font.accent-xx-large {
  font-size: 5rem;
}

.lonely-icon {
  display: inline-block;
}

.screen-reader-text {
  height: 0;
  left: -9999px;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  width: 0;
}

.icon-arrow-no-circle:before {
  content: "\e674";
}

.icon-sentopen:before {
  content: "\e600";
}

.icon-inboxempty:before {
  content: "\e601";
}

.icon-addempty:before {
  content: "\e602";
}

.icon-winkempty:before {
  content: "\e603";
}

.icon-key:before {
  content: "\e604";
}

.icon-settings:before {
  content: "\e605";
}

.icon-sliders:before {
  content: "\e606";
}

.icon-match:before {
  content: "\e607";
}

.icon-sent:before {
  content: "\e608";
}

.icon-inbox:before {
  content: "\e609";
}

.icon-trash:before {
  content: "\e60a";
}

.icon-search:before {
  content: "\e60b";
}

.icon-alertempty:before {
  content: "\e60c";
}

.icon-promotefilled:before {
  content: "\e60d";
}

.icon-promoteempty:before {
  content: "\e60e";
}

.icon-coinsfilled:before {
  content: "\e60f";
}

.icon-coinsempty:before {
  content: "\e610";
}

.icon-navfilled:before {
  content: "\e611";
}

.icon-navempty:before {
  content: "\e612";
}

.icon-notificationsfilled:before {
  content: "\e613";
}

.icon-notificationsempty:before {
  content: "\e614";
}

.icon-winkfilled:before {
  content: "\e615";
}

.icon-addfilled:before {
  content: "\e616";
}

.icon-giftfilled:before {
  content: "\e617";
}

.icon-giftempty:before {
  content: "\e618";
}

.icon-pencil:before {
  content: "\e619";
}

.icon-alertfilled:before {
  content: "\e61a";
}

.icon-carousel:before {
  content: "\e61b";
}

.icon-boost:before {
  content: "\e61c";
}

.icon-earncoins:before {
  content: "\e61d";
}

.icon-help:before {
  content: "\e61e";
}

.icon-subscribe:before {
  content: "\e61f";
}

.icon-views:before {
  content: "\e621";
}

.icon-connections:before {
  content: "\e622";
}

.icon-searchglare:before {
  content: "\e623";
}

.icon-messages:before {
  content: "\e624";
}

.icon-onlinenow:before {
  content: "\e625";
}

.icon-priority:before {
  content: "\e626";
}

.icon-replied:before {
  content: "\e627";
}

.icon-conversations:before {
  content: "\e628";
}

.icon-camera:before {
  content: "\e629";
}

.icon-alert-filled-box:before {
  content: "\e62a";
}

.icon-alertsbubble:before {
  content: "\e62b";
}

.icon-heart:before {
  content: "\e62c";
}

.icon-question:before {
  content: "\e62d";
}

.icon-phone2:before {
  content: "\e62e";
}

.icon-block:before {
  content: "\e62f";
}

.icon-myprofile:before {
  content: "\e630";
}

.icon-chatanytime:before {
  content: "\e631";
}

.icon-chatanytimeempty:before {
  content: "\e632";
}

.icon-requestphotos:before {
  content: "\e633";
}

.icon-requestverify:before {
  content: "\e634";
}

.icon-verified:before {
  content: "\e635";
}

.icon-close:before {
  content: "\e636";
}

.icon-coinstack:before {
  content: "\e637";
}

.icon-promoteheart:before {
  content: "\e638";
}

.icon-error:before {
  content: "\e639";
}

.icon-question-circle:before {
  content: "\e63a";
}

.icon-globe-filled:before {
  content: "\e63b";
}

.icon-globe:before {
  content: "\e63c";
}

.icon-arrow:before {
  content: "\e63d";
}

.icon-music:before {
  content: "\e63e";
}

.icon-tall:before {
  content: "\e63f";
}

.icon-well-educated:before {
  content: "\e640";
}

.icon-books:before {
  content: "\e641";
}

.icon-movies:before {
  content: "\e642";
}

.icon-sports:before {
  content: "\e643";
}

.icon-television:before {
  content: "\e644";
}

.icon-games:before {
  content: "\e645";
}

.icon-christian:before {
  content: "\e646";
}

.icon-jewish:before {
  content: "\e647";
}

.icon-good-shape:before {
  content: "\e648";
}

.icon-who-you-like:before {
  content: "\e649";
}

.icon-who-likes-you:before {
  content: "\e64a";
}

.icon-your-dating-style:before {
  content: "\e64b";
}

.icon-insights:before {
  content: "\e64b";
}

.icon-spiritual:before {
  content: "\e64c";
}

.icon-libra:before {
  content: "\e64d";
}

.icon-gemini:before {
  content: "\e64e";
}

.icon-cancer:before {
  content: "\e64f";
}

.icon-pisces:before {
  content: "\e650";
}

.icon-aquarius:before {
  content: "\e651";
}

.icon-sagittarius:before {
  content: "\e652";
}

.icon-gear:before {
  content: "\e653";
}

.icon-taurus:before {
  content: "\e654";
}

.icon-virgo:before {
  content: "\e655";
}

.icon-scorpio:before {
  content: "\e656";
}

.icon-aries:before {
  content: "\e657";
}

.icon-leo:before {
  content: "\e658";
}

.icon-capricorn:before {
  content: "\e659";
}

.icon-profilefemale:before {
  content: "\e65a";
}

.icon-messages3:before {
  content: "\e65b";
}

.icon-profilemale:before {
  content: "\e65c";
}

.icon-body-type:before {
  content: "\e65d";
}

.icon-smoking-circle:before {
  content: "\e65e";
}

.icon-briefcase:before {
  content: "\e65f";
}

.icon-success:before {
  content: "\e660";
}

.icon-drinking:before {
  content: "\e661";
}

.icon-fb:before {
  content: "\e662";
}

.icon-google:before {
  content: "\e663";
}

.icon-phone:before {
  content: "\e664";
}

.icon-twitter:before {
  content: "\e665";
}

.icon-messages-old:before {
  content: "\e666";
}

.icon-success-check:before {
  content: "\e667";
}

.icon-remove:before {
  content: "\e668";
}

.icon-remove-x:before {
  content: "\e669";
}

.icon-clock:before {
  content: "\e66a";
}

.icon-interests-people:before {
  content: "\e66b";
}

.icon-rotate:before {
  content: "\e66c";
}

.icon-nomatch:before {
  content: "\e66d";
}

.icon-smartpick:before {
  content: "\e66e";
}

.icon-hourglass:before {
  content: "\e66f";
}

.icon-smartpick-sm:before {
  content: "\e670";
}

.icon-smartpick-accept:before {
  content: "\e671";
}

.icon-smartpick-decline:before {
  content: "\e672";
}

.icon-question-circle-filled:before {
  content: "\e673";
}

.icon-likes-heart:before {
  content: "\e675";
}

.icon-document:before {
  content: "\e676";
}

.icon-camera-greetings:before {
  content: "\e67c";
}

.icon-chat-messages:before {
  content: "\e67b";
}

.icon-negative-action:before {
  content: "\e67d";
}

/* Added to the icon font per iOS's request. I'm commenting out until non-native apps need them.
.icon-down-carrot:before {
    content: "\e677";
}
*/
/* Added to the icon font per iOS's request. I'm commenting out until non-native apps need them.
.icon-envelope-circle:before {
    content: "\e678";
}
*/
/* Added to the icon font per iOS's request. I'm commenting out until non-native apps need them.
.icon-ios-check-empty:before {
    content: "\e679";
}
*/
.icon-ios-check-filled:before {
  content: "\e67a";
}

/* Added to the icon font per iOS's request. I'm commenting out until non-native apps need them.
.icon-chat-messages:before {
    content: "\e67b";
}
*/
/* Added to the icon font per iOS's request. I'm commenting out until non-native apps need them.
.icon-camera-greetings:before {
    content: "\e67c";
}
*/
.icon-negative-action:before {
  content: "\e67d";
}

.icon-fb-likes:before {
  content: "\e67e";
}

.icon-likes-heart-solid:before {
  content: "\e67f";
}

.icon-new-search:before {
  content: "\e680";
}

.icon-mutual-web:before {
  content: "\e681";
}

.icon-interested-web:before {
  content: "\e682";
}

.icon-invisible:before {
  content: "\e683";
}

.icon-filter-filled:before {
  content: "\e684";
}

.icon-wire-question-mark:before {
  content: "\e686";
}

.icon-introductions-avatar:before {
  content: "\e687";
}

.icon-cart:before {
  content: "\e688";
}

.icon-messages-filled:before {
  content: "\e69e";
}

.icon-right-arrow:before {
  content: "\e692";
}

.icon-up-arrow:before {
  content: "\e693";
}

.icon-left-arrow:before {
  content: "\e694";
}

.icon-mutual:before {
  content: "\e68f";
}

.icon-interested:before {
  content: "\e690";
}

.icon-profile:before {
  content: "\e691";
}

.icon-z_subscribe:before {
  content: "\e68a";
}

.icon-premium-messaging:before {
  content: "\e68b";
}

.icon-left-arrow:before {
  content: "\e694";
}

.icon-up-arrow:before {
  content: "\e693";
}

.icon-right-arrow:before {
  content: "\e692";
}

.icon-maybe:before {
  content: "\e695";
}

.icon-settings-wire:before {
  content: "\e696";
}

.icon-report-arrow:before {
  content: "\e697";
}

.icon-thin-search:before {
  content: "\e698";
}

.icon-eyeball:before {
  content: "\e699";
}

.icon-triple-hearts:before {
  content: "\e900";
}

.icon-defined-heart-stroke:before {
  content: "\e906";
}

.icon-smiley-face:before {
  content: "\e905";
}

.icon-chats:before {
  content: "\e90a";
}

.icon-views-eyeball-filled:before {
  content: "\e901";
}

.icon-wink:before {
  content: "\e907";
}

.icon-facebook-f:before {
  content: "\e90d";
}

.icon-fb-circle-filled:before {
  content: "\e90e";
}

.icon-fb-circle:before {
  content: "\e90f";
}

.icon-google-circle-filled:before {
  content: "\e910";
}

.icon-google-circle:before {
  content: "\e911";
}

.icon-google-g:before {
  content: "\e912";
}

.icon-instagram-circle-filled:before {
  content: "\e913";
}

.icon-instagram-circle:before {
  content: "\e914";
}

.icon-rss-circle-filled:before {
  content: "\e915";
}

.icon-rss-circle:before {
  content: "\e916";
}

.icon-twitter-circle-filled:before {
  content: "\e917";
}

.icon-twitter-circle:before {
  content: "\e918";
}

.icon-youtube-circle-filled:before {
  content: "\e919";
}

.icon-youtube-circle:before {
  content: "\e91a";
}

.icon-read-receipts:before {
  content: "\e91c";
}

.icon-upgrades:before {
  content: "\e91d";
}

.icon-invisible-mode:before {
  content: "\e920";
}

.icon-premium-messages:before {
  content: "\e921";
}

.icon-play:before {
  content: "\e91e";
}

.icon-thin-arrow-left:before {
  content: "\e91f";
}

.icon-thin-arrow-right:before {
  content: "\e922";
}

.icon-z:before {
  content: "\e929";
}

.icon-boost-rocket:before {
  content: "\e92a";
}

.icon-new-gift:before {
  content: "\e92c";
}

.icon-female-body:before {
  content: "\e92d";
}

.icon-male-body:before {
  content: "\e92e";
}

.icon-calendar:before {
  content: "\e92f";
}
/*****************************************************************************
    Overrides/styles for the guide itself
*****************************************************************************/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
}

.guide > div {
  margin-top: 40px;
}

.guide a, .guide button, .guide div, .guide footer, .guide h1, .guide h2, .guide h3, .guide h4, .guide h5, .guide h6, .guide header, .guide input, .guide legend, .guide li, .guide nav, .guide ol, .guide section, .guide select, .guide span, .guide textarea, .guide ul {
  box-sizing: border-box;
}

.guide h1 {
  font-size: 34px;
}

.guide h2 {
  border-top: 3px solid #5d6265;
  font-weight: bold;
  margin-top: 60px;
  padding-top: 30px;
}

.guide select, .guide .z-datepicker {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  background-image: url('/images/touch/icons/select-arrow-2x.png'), -webkit-linear-gradient(#FFF, #FFF 30%, #E5E5E5);
  background-image: url('/images/touch/icons/select-arrow-2x.png'), linear-gradient(#FFF, #FFF 30%, #E5E5E5);
  background-position: right 0.4em center, top left;
  background-repeat: no-repeat, repeat-x;
  -webkit-background-size: 13px 7px, 100%;
  background-size: 13px 7px, 100%;
  border: 1px solid #bbb;
  margin: 0;
  -webkit-appearance: button;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  white-space: nowrap;
  padding: .4em 25px .4em .4em;
  line-height: 1.5;
}

.guide select:hover, .guide .z-datepicker:hover {
  cursor: pointer;
}

.guide__0-min-height {
  min-height: 0;
}

.guide__100-min-height {
  min-height: 100px;
}

.guide__500-max-width {
  max-width: 500px;
}

.guide__2px-border {
  border: 2px solid #1379de;
}

.guide__children-padding > * {
  padding: 20px;
}

.guide__bg1 {
  background: rgba(19, 121, 222, 0.3);
}

.guide__bg2 {
  background: rgba(19, 121, 222, 0.5);
}

.guide__description {
  border-left: 5px solid #bfbfbf;
  font-size: 15px;
  line-height: 1.3;
  padding-left: 15px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.guide__flex-display {
  display: flex;
}

.guide__floater {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 200px;
}

.guide__font-large {
  font-size: 28px;
}

.guide__general-parent {
  background: #bfbfbf;
  width: 400px;
}

.guide__half-width {
  width: 50%;
}

.guide__left-0 {
  left: 0;
}

.guide__one-third-width {
  width: 33%;
}

.guide__padding {
  padding: 20px;
}

.guide__relative {
  position: relative;
}

.guide__square {
  background: #1379de;
  height: 30px;
  width: 30px;
}

.guide__u-flex-item-2 {
  flex: 2;
}

.guide__visual-parent {
  border: 1px solid #999;
  font-size: 12px;
  min-height: 80px;
}

/*****************************************************************************
    Helper styles on real pattern classes to help with the guide only
*****************************************************************************/
.floating-icon-with-text, .text-with-graphic {
  padding-left: 50px;
}

.floating-pseudo-icon-with-text {
  padding-right: 160px;
}

.floating-pseudo-icon-with-text:before {
  background: url('/images/global/invite-landing-logo-white.png') no-repeat 50% 50%;
  background-color: #1379de;
  height: 46px;
  width: 130px;
  right: 0;
}

.u-tap-target:after {
  background: rgba(19, 121, 222, 0.5);
}

.icon-gift-sent {
  display: block;
  margin-bottom: 1.8rem;
  font-size: 2.6rem;
  text-align: center;
}

/*****************************************************************************
    Classes created only so we have something to attach the Shortcut mixins to.
    There are no official classes that call these mixins.
*****************************************************************************/
.guide__alt-emphasized-header {
  color: #f81e27;
  font-weight: 500;
}

.guide__background-contain {
  background-image: url('/images/homepage/zoosk-hero-min.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.guide__background-cover {
  background-image: url('/images/homepage/zoosk-hero-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.guide__block-children > * {
  display: block;
}

.guide__blur {
  filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
}

.guide__columns {
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
}

.guide__confirmation-popup {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 6px;
  color: #ffffff;
  display: block;
  padding: 2rem;
  -webkit-animation: tooltip-expiration 2s 1 ease-in-out forwards;
  animation: tooltip-expiration 2s 1 ease-in-out forwards, tooltip-expiration-scale 2s 1 ease-in-out forwards;
}

.guide__contrasted-text {
  color: #ffffff;
  text-shadow: 0 1px 2px #000;
}

.guide__defined-box {
  background-color: #cccccc;
  border: 3px solid #000000;
  padding: 10px;
}

.guide__direct-children-spacing--margin-top > * {
  margin-top: 30px;
}

.guide__direct-children-spacing--margin-top > *:first-child {
  margin-top: 0;
}

.guide__direct-children-spacing--padding-left > * {
  padding-left: 100px;
}

.guide__direct-children-spacing--padding-left > *:first-child {
  padding-left: 0;
}

.guide__inline-block-serial {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

.guide__multi-input-birthday > select {
  display: inline-block;
  margin: 0 0 0 2%;
  min-width: 0;
}

.guide__multi-input-birthday > select:first-child {
  margin: 0;
}

.guide__multi-input-birthday .birthday-month {
  width: 46%;
}

.guide__multi-input-birthday .birthday-days {
  width: 25%;
}

.guide__multi-input-birthday .birthday-years {
  width: 25%;
}

.guide__placeholder::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1379de;
}

.guide__placeholder::-moz-placeholder {
  /* Firefox 19+ */
  color: #1379de;
}

.guide__placeholder:-ms-input-placeholder {
  /* IE 10+ */
  color: #1379de;
}

.guide__placeholder:-moz-placeholder {
  /* Firefox 18- */
  color: #1379de;
}

.guide__position-wrap-bl {
  bottom: -30px;
  left: 0;
  position: absolute;
}

.guide__position-wrap-br {
  bottom: -30px;
  position: absolute;
  right: 0;
}

.guide__position-wrap-tl {
  left: 0;
  position: absolute;
  top: -30px;
}

.guide__position-wrap-tr {
  position: absolute;
  right: 0;
  top: -30px;
}

.guide__predefined-bordered-shadowed-box {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2rem 0;
}

.guide__pseudo-helper:before {
  content: "";
  position: absolute;
  background: #1379de;
  height: 30px;
  width: 30px;
}

.guide__pseudo-in-flow:before {
  content: '';
  display: block;
  background: #1379de;
  height: 30px;
  width: 30px;
}

.guide__serial-spacing--margin-bottom {
  margin-bottom: 30px;
}

.guide__serial-spacing--padding-right {
  padding-right: 100px;
}

.guide__shadowed-box {
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  background: #cccccc;
  padding: 10px;
}

.guide__table-cell-mid {
  display: table-cell;
  vertical-align: middle;
}

.guide__table-cell-top {
  display: table-cell;
  vertical-align: top;
}

.guide__word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.guide__z-app-tooltip {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 270px;
  z-index: 2;
  -webkit-filter: drop-shadow(0 0 1px #333333);
  filter: drop-shadow(0 0 1px #333333);
}

.guide__z-app-tooltip > * {
  margin-top: 10px;
}

.guide__z-app-tooltip > *:first-child {
  margin-top: 0;
}

.guide__z-app-tooltip:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: inherit;
}

.guide__z-app-tooltip:before {
  bottom: -8px;
  left: 0;
  margin: auto;
  right: 0;
}

.guide__z-border-top {
  border-top: 1px dashed #1379de;
  margin-top: 10px;
  padding-top: 10px;
}

.guide__z-flexible-limited-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.guide__z-form-select {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  background-image: url('/images/browser/icons/select-arrow-2x.png'), -webkit-linear-gradient(#FFF, #FFF 30%, #E5E5E5);
  background-image: url('/images/browser/icons/select-arrow-2x.png'), linear-gradient(#FFF, #FFF 30%, #E5E5E5);
  background-position: right 0.4em center, top left;
  background-repeat: no-repeat, repeat-x;
  -webkit-background-size: 13px 7px, 100%;
  background-size: 13px 7px, 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 1.5;
  padding: .4em 25px .4em .4em;
  text-indent: 0.01px;
  text-overflow: '';
  white-space: nowrap;
  -webkit-appearance: button;
  -moz-appearance: none;
}

.guide__z-form-select:hover {
  cursor: pointer;
}

.guide__z-form-select:only-of-type {
  width: 100%;
}

.guide__z-form-select::-ms-expand {
  display: none;
}

.guide__z-interstitial {
  color: #000000;
  display: block;
  font-size: 14px;
  position: relative;
  text-align: center;
}

.guide__z-interstitial:before, .guide__z-interstitial:after {
  content: "";
  position: absolute;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
  background: #cccccc;
  height: 1px;
  width: 40%;
}

.guide__z-interstitial:before {
  left: 0;
}

.guide__z-interstitial:after {
  right: 0;
}

.guide__z-limited-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.guide__z-notification-badge {
  background: #ff5555;
  border: 0;
  border-radius: 100px;
  font-size: 14px !important;
  font-weight: normal;
  left: auto;
  line-height: 14px;
  min-width: 30px;
  height: 30px;
  color: white;
  padding: 0.24em 0.4em;
}

/*****************************************************************************
    General styles for SVG visual guides
*****************************************************************************/
.guide__svg-collection {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.guide__svg-collection p {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin: 10px 0;
  word-break: break-all;
}

.guide__svg-collection svg {
  height: 100px;
  width: 100px;
}

.guide__svg-collection .svg-box {
  background: #ccc;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 1.1;
  margin: 1.5%;
  padding: 30px;
  text-align: center;
  width: 130px;
}
